@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../public/sajama.JPG");
  background-size:cover;
  transition: 1s;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  body {
      background-image: url("../public/garnet.png");
  }
}

.app-container {
  background: #ffffffdb;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3b3b3b;
}

p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.elevation-control {
  margin-bottom: 20px;
}

label {
  font-size: 1.1rem;
  margin-right: 10px;
}

.elevation-input {
  width: 100px;
  padding: 8px;
  font-size: 1.1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.elevation-input:focus {
  outline: none;
  border-color: #4CAF50;
}

.google-map-link {
  color: #007bff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.google-map-link:hover {
  color: #0056b3;
}

.mountain-info {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #444;
}

.mountain-info a {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

input.coord{
  background:none;
  width:100px;
  padding-left:10px
}

.about button{
  font-size:10px;
  color:white;
  text-align: center;
  margin-top:20px;
}

.about{
  width:60%;
  margin:auto;
}

/* Style for the Change Coordinates button */
.change-coordinates-button {
  background-color: #007bff00;
  height:0px;
  color: #28a746;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 30px;
}

p.your-loc{
  margin-bottom:0px;
}

/* Style for the coordinate input form */

.submit-coordinates-button {
  background-color: #28a74600;
  color: #28a746;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.coordinate-input-inline {
  display: flex;
  gap: 10px; /* Space between the input fields */
  justify-content: space-between;
}

.coordinate-input-inline input {
  flex: 1;
  font-size: 16px;
  width: 10px;
  height:30px;
  margin-left: 5px;
  border-radius: 4px;
  padding:2px;
  text-align:center;
}

.error-code{
  font-size:12px;
}

.random-peak-button {
  background-color: #4caf4f00; /* Green */
  color: #4caf4f;
  font-weight:bold;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.about-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.about-container {
  background: #222;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.about-container p{
  font-size:14px;
}

p.citation{
  font-size:8px;
}

.close-about {
  position: absolute;
  top:10px;
  right:10px;
  background: rgb(224, 160, 160);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  transition: .25s;
}

.close-about:hover {
  background: darkred;
}

.targetRange {
  font-size:24px;
}